/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #6A6A6A;
	margin:10px 0pt 10px;
	font-size: 15pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #B0B0B0;
	font-size: 15pt;
	padding: 10px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 10px;
	background-color: #FFF;
	vertical-align: top;
}
/*
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
*/
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #666666;
}
